---
// Tools
import { Picture } from "astro:assets";
import { getRatio } from "@/lib/helpers";

// Compositions
import Frame from "../compositions/Frame.astro";
import Center from "../compositions/Center.astro";
import Cluster from "../compositions/Cluster.astro";

// Components
import Annotation from "./Annotation.astro";
import FullscreenGallery from "./FullscreenGallery.astro";
import SwiperButton from "../ui/SwiperButton.astro";
import SwiperPaginationProgress from "../ui/SwiperPaginationProgress.astro";
import FullscreenGalleryDialog from "../ui/FullscreenGalleryDialog.astro";

// Data

type Props = {
  orientation?: "landscape" | "portrait" | "wide" | "square";
  isFullscreen?: boolean;
  imagePaths: string[];
};
const {
  imagePaths,
  orientation = "landscape",
  isFullscreen = false,
} = Astro.props;

// Assets

// Collect all images in given path
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/content/projects/images/**/*.{jpeg,jpg}"
);

imagePaths.forEach((imagePath) => {
  const newPath = `/src/content/projects/${imagePath}`;

  if (!images[newPath])
    throw new Error(
      `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
    );
});

const ratio = getRatio(orientation);
---

<div class:list={["multi-slide-gallery", { fullscreen: isFullscreen }]}>
  <div class="multi-slide-swiper swiper">
    <div class="swiper-wrapper">
      {
        imagePaths?.map((imagePath) => {
          const newPath = `/src/content/projects/${imagePath}`;

          return (
            <div class="swiper-slide">
              {isFullscreen ? (
                <button class="open-btn " data-open-multi-slide>
                  <Frame ratio={ratio} class="img-wrapper">
                    <Picture
                      src={images[newPath]()}
                      width={1000}
                      formats={["avif", "webp"]}
                      alt=""
                      densities={[1.5, 2]}
                    />
                  </Frame>
                </button>
              ) : (
                <Frame ratio={ratio} class="img-wrapper">
                  <Picture
                    src={images[newPath]()}
                    width={1000}
                    formats={["avif", "webp"]}
                    alt=""
                    densities={[1.5, 2]}
                  />
                </Frame>
              )}
            </div>
          );
        })
      }
    </div>

    <div class="swiper-navigation">
      <Center
        maxWidth="87.5rem"
        space={{ default: "space-6", tablet: "space-7" }}
      >
        <Cluster
          space={{ default: "space-8", tablet: "space-10" }}
          alignItems="center"
          noWrap
        >
          <SwiperPaginationProgress />

          <Cluster space="space-2" noWrap>
            <SwiperButton direction="left" class="multi-swiper-button-prev" />
            <SwiperButton direction="right" class="multi-swiper-button-next" />
          </Cluster>
        </Cluster>
      </Center>
    </div>
  </div>

  <Annotation>
    <slot />
  </Annotation>

  {
    isFullscreen && (
      <FullscreenGalleryDialog name="multi-slide-fullscreen">
        <FullscreenGallery imagePaths={imagePaths} />
      </FullscreenGalleryDialog>
    )
  }
</div>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .multi-slide-gallery.fullscreen .img-wrapper {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      border-radius: var(--rounded-lg);

      transition: background-color var(--transition-default);

      @media (--tablet-and-up) {
        border-radius: var(--rounded-xl);
      }
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  .swiper-slide .open-btn {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    display: block;

    &:hover {
      cursor: url("/icon-arrow-expand.svg"), auto;
    }
  }

  .swiper-navigation {
    margin-block-start: var(--space-9-fixed);
  }

  .swiper-pagination-wrapper {
    flex: 1;

    position: relative;
  }
</style>

<script></script>
