---
// Tools
import { Picture } from "astro:assets";
import { getRatio } from "@/lib/helpers";

// Compositions
import Frame from "../compositions/Frame.astro";

// Components
import Annotation from "./Annotation.astro";
import Cluster from "../compositions/Cluster.astro";
import SwiperButton from "../ui/SwiperButton.astro";

// Data

type Props = {
  orientation: "landscape" | "portrait" | "wide" | "square";
  imagePaths: string[];
};
const { imagePaths, orientation } = Astro.props;

// Assets

// Collect all images in given path
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/content/projects/images/**/*.{jpeg,jpg}"
);

imagePaths.forEach((imagePath) => {
  const newPath = `/src/content/projects/${imagePath}`;

  if (!images[newPath])
    throw new Error(
      `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
    );
});

const ratio = getRatio(orientation);
---

<div class="single-slide-gallery">
  <div class="single-slide-swiper swiper">
    <div class="swiper-wrapper">
      {
        imagePaths?.map((imagePath) => {
          const newPath = `/src/content/projects/${imagePath}`;

          return (
            <div class="swiper-slide ">
              <Frame ratio={ratio} class="img-wrapper">
                <Picture
                  src={images[newPath]()}
                  width={1100}
                  formats={["avif", "webp"]}
                  alt=""
                  densities={[1.5, 2]}
                />
              </Frame>
              <div class="slide-gradient" />
            </div>
          );
        })
      }
    </div>

    <div class="swiper-navigation">
      <Cluster space="space-2" noWrap>
        <SwiperButton direction="left" class="single-swiper-button-prev" />
        <SwiperButton direction="right" class="single-swiper-button-next" />
      </Cluster>
    </div>
  </div>

  <Annotation>
    <slot />
  </Annotation>
</div>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .single-slide-swiper {
    position: relative;
    isolation: isolate;
  }

  .swiper-slide {
    --_radius: var(--rounded-lg);
    position: relative;

    border: 1px solid var(--color-gray-100);
    border-radius: var(--_radius);

    @media (--tablet-and-up) {
      --_radius: var(--rounded-xl);
    }
  }

  .slide-gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 40%;
    opacity: 0.6;

    background-image: linear-gradient(
      0deg,
      var(--color-black),
      35%,
      transparent
    );

    border-end-start-radius: var(--_radius);
    border-end-end-radius: var(--_radius);

    transition: opacity var(--transition-default);

    @media (--tablet-and-up) {
      --_radius: var(--rounded-xl);
    }
  }

  .swiper-navigation {
    --_position: var(--space-4-fixed);

    position: absolute;
    right: var(--_position);
    bottom: var(--_position);

    z-index: 10;

    @media (--tablet-and-up) {
      --_position: var(--space-6-fixed);
    }

    @media (--laptop-and-up) {
      --_position: var(--space-8-fixed);
    }
  }

  /* State */

  .swiper-slide:hover .slide-gradient {
    /* opacity: 0; */
  }
</style>
