---
// Components
import Heading from "../ui/Heading.astro";
import Shape from "../ui/Shape.astro";
import Text from "../ui/Text.astro";

// Data
const { achievment } = Astro.props;
const {
  title,
  description,
  id,
  "left-translateX": leftTranslateX,
  "right-translateX": rightTranslateX,
  "left-rotate": leftRotate,
  "right-rotate": rightRotate,
} = achievment;
---

<div class:list={["achievment", id]}>
  <Shape
    color="secondary"
    class="left"
    translateX={leftTranslateX}
    rotate={leftRotate}
  />
  <Shape
    color="secondary"
    class="right"
    translateX={rightTranslateX}
    rotate={rightRotate}
  />
  <div class="content">
    <Heading tagName="h4" size="h3" class="numner font-heading">{title}</Heading>
    <Text tagName="p" size="medium" class="description">{description}</Text>
  </div>
</div>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .achievment {
    --_translate-y: 0rem;

    position: absolute;

    padding: var(--space-4-fixed);

    background-color: var(--color-secondary);

    transform: translateY(var(--_translate-y));

    @media (--tablet-and-up) {
      padding: var(--space-6-fixed);
    }

    @media (--laptop-and-up) {
      padding: var(--space-7-fixed);
    }
  }

  .achievment,
  .achievment .content {
    border-radius: var(--rounded-2xl);

    @media (--laptop-and-up) {
      border-radius: var(--rounded-3xl);
    }
  }

  .achievment .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 8rem;
    height: 8rem;

    @media (--tablet-and-up) {
      width: 12rem;
      height: 12rem;
    }

    @media (--laptop-and-up) {
      width: 15rem;
      height: 15rem;
    }
  }

  .achievment.primary {
    --_translate-y: -5rem;

    top: 0;
    right: 4rem;

    @media (--laptop-and-up) {
      right: 14rem;
    }

    /* Shape positions */

    & .shape.left,
    & .shape.right {
      top: 5rem;
      margin-block-start: -1px;
    }

    & .shape.left {
      left: 0;
      margin-inline-start: 1px;
    }

    & .shape.right {
      right: 0;
      margin-inline-end: 1px;
    }

    & .content {
      color: var(--color-secondary);
      background-color: var(--color-primary);
    }
  }

  .achievment.primary-light,
  .achievment.accent {
    bottom: 0;
  }

  .achievment.primary-light {
    --_translate-y: 5rem;

    left: 4rem;

    @media (--laptop-and-up) {
      left: 9rem;
    }

    /* Shape positions */

    & .shape.left,
    & .shape.right {
      bottom: 5rem;
      margin-block-end: -1px;
    }

    & .shape.left {
      left: 0;
      margin-inline-start: 1px;
    }

    & .shape.right {
      right: 0;
      margin-inline-end: 1px;
    }

    & .content {
      color: var(--color-secondary);
      background-color: var(--color-primary-light);
    }
  }

  .achievment.accent {
    --_translate-y: 8rem;

    display: none;

    @media (--laptop-and-up) {
      right: 5rem;
      display: flex;
    }

    /* Shape positions */

    & .shape.left,
    & .shape.right {
      bottom: 8rem;
      margin-block-end: -1px;
    }

    & .shape.left {
      left: 0;
      margin-inline-start: 1px;
    }

    & .shape.right {
      right: 0;
      margin-inline-end: 1px;
    }

    & .content {
      color: var(--color-secondary);
      background-color: var(--color-accent);
    }
  }

  .content {
    padding: var(--space-3-fixed);

    @media (--tablet-and-up) {
      padding: var(--space-4-fixed);
    }

    @media (--laptop-and-up) {
      padding: var(--space-6-fixed);
    }
  }

  .achievment .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
</style>
