---
// Components
import Heading from "../ui/Heading.astro";
import Shape from "../ui/Shape.astro";
import Text from "../ui/Text.astro";

// Data
const { achievment } = Astro.props;
const {
  title,
  description,
  id,
  "left-translateX": leftTranslateX,
  "right-translateX": rightTranslateX,
  "left-rotate": leftRotate,
  "right-rotate": rightRotate,
} = achievment;
---

<div class:list={["achievment", id]}>
  <Shape
    color="secondary"
    class="left"
    translateX={leftTranslateX}
    rotate={leftRotate}
  />
  <Shape
    color="secondary"
    class="right"
    translateX={rightTranslateX}
    rotate={rightRotate}
  />
  <div class="content">
    <Heading
      tagName="h4"
      size={{ default: "h6", tablet: "h5", laptop: "h3" }}
      class="numner font-heading">{title}</Heading
    >
    <Text tagName="p" size="medium" class="description">{description}</Text>
  </div>
</div>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  @custom-media --tablet-s-and-up (width >= 48em);

  .achievment {
    aspect-ratio: 1;
    --_translate-y: 0rem;

    background-color: var(--color-secondary);

    transform: translateY(var(--_translate-y));

    @media (--tablet-and-up) {
      position: absolute;
      padding: var(--space-6-fixed);
    }

    @media (--laptop-and-up) {
      padding: var(--space-7-fixed);
    }
  }

  .achievment,
  .achievment .content {
    border-radius: var(--rounded-2xl);

    @media (--laptop-and-up) {
      border-radius: var(--rounded-3xl);
    }
  }

  .achievment .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    height: 100%;

    padding: var(--space-3-fixed);

    @media (--tablet-and-up) {
      width: 8rem;
      height: 8rem;
      padding: var(--space-4-fixed);
    }

    @media (--tablet-s-and-up) {
      width: 11rem;
      height: 11rem;
    }

    @media (--laptop-and-up) {
      width: 15rem;
      height: 15rem;
      padding: var(--space-6-fixed);
    }
  }

  .achievment :global(.shape) {
    display: none;

    @media (--tablet-and-up) {
      display: block;
    }
  }

  .achievment.primary {
    @media (--tablet-and-up) {
      --_translate-y: -5rem;

      top: 0;
      right: 4rem;
    }

    @media (--laptop-and-up) {
      right: 14rem;
    }

    /* Shape positions */

    & .shape.left,
    & .shape.right {
      top: 5rem;
      margin-block-start: -1px;
    }

    & .shape.left {
      left: 0;
      margin-inline-start: 1px;
    }

    & .shape.right {
      right: 0;
      margin-inline-end: 1px;
    }

    & .content {
      color: var(--color-secondary);
      background-color: var(--color-primary);
    }
  }

  .achievment.primary-light,
  .achievment.accent {
    @media (--tablet-and-up) {
      bottom: 0;
    }
  }

  .achievment.primary-light {
    @media (--tablet-and-up) {
      --_translate-y: 5rem;

      left: 3rem;
    }

    @media (--tablet-s-and-up) {
      left: 4rem;
    }

    @media (--laptop-and-up) {
      left: 9rem;
    }

    /* Shape positions */

    & .shape.left,
    & .shape.right {
      bottom: 6.2rem;
      margin-block-end: -1px;
    }

    & .shape.left {
      left: 0;
      margin-inline-start: 1px;
    }

    & .shape.right {
      right: 0;
      margin-inline-end: 1px;
    }

    & .content {
      color: var(--color-secondary);
      background-color: var(--color-primary-light);
    }
  }

  .achievment.accent {
    @media (--tablet-and-up) {
      --_translate-y: 8rem;

      display: flex;
      right: 4rem;
    }

    @media (--tablet-s-and-up) {
      right: 5rem;
    }

    /* Shape positions */

    & .shape.left,
    & .shape.right {
      bottom: 9.2rem;
      margin-block-end: -1px;
    }

    & .shape.left {
      left: 0;
      margin-inline-start: 1px;
    }

    & .shape.right {
      right: 0;
      margin-inline-end: 1px;
    }

    & .content {
      color: var(--color-secondary);
      background-color: var(--color-accent);
    }
  }

  .achievment .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 1.2;

    @media (--laptop-and-up) {
      line-height: 1.4;
    }
  }
</style>
