---
// Tools
import { Image } from "astro:assets";

// Compositions
import Center from "../compositions/Center.astro";
import Stack from "../compositions/Stack.astro";

// Components
import Marquee from "../ui/Marquee.astro";
import Text from "../ui/Text.astro";

// Assets
import usaid from "@/assets/donors/USAID.svg";
---

<section class="donors">
  <Stack space="space-7">
    <Center maxWidth="80rem" space="space-4">
      <Text tagName="div" size="large">Наші донори</Text>
    </Center>

    <Marquee direction="left" space="space-10" duration="slow">
      <div class="marquee-inner">
        <Image src={usaid} alt="" />
        <Image src={usaid} alt="" />
        <Image src={usaid} alt="" />
        <Image src={usaid} alt="" />
        <Image src={usaid} alt="" />
        <Image src={usaid} alt="" />
        <Image src={usaid} alt="" />
        <Image src={usaid} alt="" />
        <Image src={usaid} alt="" />
        <Image src={usaid} alt="" />
        <Image src={usaid} alt="" />
      </div>
    </Marquee>
  </Stack>
</section>

<style>
  .donors {
    padding-block: var(--space-11-fixed);
    /* background-color: rebeccapurple; */

    & img {
      width: 144px;
      height: auto;
    }
  }

  .red {
    border: 1px solid red;
  }
</style>
