---
// Tools

// Compositions
import UserDataAgreement from "./UserDataAgreement.astro";
import Cluster from "./compositions/Cluster.astro";
import Stack from "./compositions/Stack.astro";
import Button from "./ui/Button.astro";

// Components
import Heading from "./ui/Heading.astro";
import InputGroup from "./ui/InputGroup.astro";
import Text from "./ui/Text.astro";

const donateData = [
  {
    label: "Введіть суму *",
    formControl: "input",
    name: "number",
    placeholder: "0",
    type: "number",
    required: true,
    // pattern: "^[^@]+@[^@]+.[^@]+$",
  },
  {
    label: "Ваша пошта *",
    formControl: "input",
    name: "email",
    placeholder: "marusya@gmail.com",
    type: "email",
    required: true,
    pattern: "^[^@]+@[^@]+.[^@]+$",
  },
];

const [numberData, emailData] = donateData;

// TODO: Because i have same code in multiple modals, i need unique ids for each id-label pair
const id = crypto.randomUUID();
---

<aside class="donate aside-modal">
  <form action="" data-form="donate">
    <Stack space="space-4" class="header">
      <Heading tagName="h2" size="h6" class="color-secondary font-heading"
        >Зробити внесок</Heading
      >
      <Text tagName="p" size="small"
        >Усі кошти будуть витрачені на забезпечення адміністративної діяльності
        громадської організації “Еко Місто Чернігів” та нові інноваційні проєкту
        для розвитку міста.</Text
      >
    </Stack>
    <div class="main">
      <Stack space="space-6">
        <Cluster alignItems="baseline" class="donate-tabs">
          <input
            type="radio"
            name="pay"
            id={`pay-once-${id}`}
            value="pay-once"
            checked
            tabindex="0"
          />
          <Text
            tagName="label"
            size="small"
            class="font-medium"
            for={`pay-once-${id}`}>Разова допомога</Text
          >

          <input
            type="radio"
            name="pay"
            id={`pay-monthly-${id}`}
            value="pay-monthly"
          />
          <Text
            tagName="label"
            size="small"
            class="font-medium"
            for={`pay-monthly-${id}`}>Щомісячна підтримка</Text
          >
        </Cluster>

        <Stack space="space-8">
          <Stack space="space-4">
            <InputGroup data={numberData} />

            <Cluster space="space-3" class="choice-row">
              <Button style="accent" size="x-small" variant="chip" type="button"
                >+100</Button
              >
              <Button style="accent" size="x-small" variant="chip" type="button"
                >+200</Button
              >
              <Button style="accent" size="x-small" variant="chip" type="button"
                >+500</Button
              >
            </Cluster>
          </Stack>
          <InputGroup data={emailData} />
        </Stack>
      </Stack>
    </div>

    <Stack space="space-7" class="footer">
      <UserDataAgreement />
      <Button style="secondary" type="submit"> Підтримати </Button>
    </Stack>
  </form>
</aside>

<style>
  .donate-tabs label {
    color: var(--color-gray-400);
    cursor: pointer;
  }

  .donate-tabs input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .donate-tabs input[type="radio"]:checked {
    & + label {
      color: var(--color-black);
    }
  }

  .donate-tabs input[type="radio"]:focus-visible {
    & + label {
      outline: 2px solid var(--color-primary);
      outline-offset: 4px;
      border-radius: var(--rounded-sm);
    }
  }
</style>

<script>
  import sanitizeHtml from "sanitize-html";

  type FormValues = {
    pay: string;
    number: string;
    email: string;
  };

  // Get all forms
  const forms = [
    ...document.querySelectorAll("form[data-form='donate']"),
  ] as HTMLFormElement[];

  // Loop through them
  forms.forEach((form) => {
    /**
     * Elements
     */
    // Get number element
    const moneyInputElement = form.querySelector(
      'input[type="number"]'
    ) as HTMLInputElement;

    /**
     * Functinos
     */

    /**
     * Add choice values to a number input
     * @param {Object} event
     */
    function handleClick(event: Event) {
      // Matching strategy
      const target = event.target as HTMLElement;
      const chipButton = target.closest("[data-variant='chip']");
      if (!chipButton) return;

      // Get choice and number input values and convert them to a number
      const choice = Number(chipButton.textContent);
      const moneyInput = Number(moneyInputElement.value);

      // Set new number input value and convert it to string
      moneyInputElement.value = (choice + moneyInput).toString();
    }

    /**
     * TODO: Submit data to liqpay and sendpulse
     * @param {Object} event
     */
    function handleSubmit(event: SubmitEvent) {
      event.preventDefault();

      // Get data
      const data = new FormData(form);

      let { pay, number, email } = Object.fromEntries(data) as FormValues;

      // If no values do nohing
      if (!pay || !number || !email) {
        // TODO: Show errors in the UI
        console.log("Please include all required values");
        return;
      }

      // Sanitize values
      pay = sanitizeHtml(pay);
      email = sanitizeHtml(email.trim());
      number = sanitizeHtml(number.trim());

      console.log("submit");
      console.log(pay);
      console.log(number);
      console.log(email);
    }

    /**
     * Event Liseners
     */
    form?.addEventListener("click", handleClick);
    form?.addEventListener("submit", handleSubmit);
  });
</script>
