---
// Tools
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

// Layouts
import BaseLayout from "@/layouts/BaseLayout.astro";

// Compositions
import Center from "@/components/compositions/Center.astro";
import Stack from "@/components/compositions/Stack.astro";

// Components
import Heading from "@/components/ui/Heading.astro";
import Text from "@/components/ui/Text.astro";
import Shape from "@/components/ui/Shape.astro";
import Section from "@/components/ui/Section.astro";
import ProjectLayout from "@/layouts/ProjectLayout.astro";
import H3 from "../../components/project/H3.astro";
import { components } from "@/components/mdxComponents.js";
import MyPicture from "@/components/MyPicture.astro";

// Data

export const getStaticPaths = (async () => {
  // filter actual posts, not drafts
  const projects = await getCollection("projects", ({ data }) => !data.isDraft);

  // return object with slug and post data
  return projects.map((project) => ({
    params: {
      slug: project.slug,
    },
    props: {
      project,
      projects,
    },
  }));
}) satisfies GetStaticPaths;

type Props = {
  project: CollectionEntry<"projects">;
  projects: CollectionEntry<"projects">[];
};

const { project, projects } = Astro.props;

const { Content } = await project.render();
const {
  title,
  description,
  color = "accent",
  cover,
  isCollage = false,
} = project.data;

// Get index of current project
const index = projects.findIndex((p) => p.id === project.id);
const previousProject = projects[index - 1];
const nextProject = projects[index + 1];

const heroBackgroundColor = `var(--color-${color})`;
---

<BaseLayout>
  <Section class="hero" isRoundBottom color="secondary">
    <Center
      maxWidth="87.5rem"
      space={{ default: "space-6", tablet: "space-7", laptop: "space-9" }}
    >
      <Stack space={{ default: "space-6", tablet: "space-0" }} class="wrapper">
        <div class="text-wrapper">
          <Shape color="secondary" class="top" />
          <Shape color="secondary" class="bottom" rotate="270deg" />
          <Stack space="space-2" class="hero-text">
            <Heading
              tagName="h1"
              size="h3"
              class="title font-heading color-primary">{title}</Heading
            >
            <Text tagName="p" size="large" class="color-accent"
              >{description}</Text
            >
          </Stack>
        </div>

        <div class="img-wrapper">
          <div class:list={["hero-img", { collage: isCollage }]}>
            <MyPicture src={cover} alt="" width={1120} />
          </div>
        </div>
      </Stack>
    </Center>
  </Section>

  <ProjectLayout>
    <Content components={{ ...components, h3: H3 }} />
  </ProjectLayout>

  <!-- <Center
    maxWidth="75rem"
    space={{ default: "space-6", tablet: "space-7", laptop: "space-9" }}
  >
    <Stack space="space-10">
      <Heading tagName="h3" size="h5">Інші проєкти</Heading>
      <Row
        columnGap={{ default: "space-0", tablet: "space-7" }}
        rowGap={{ default: "space-8", tablet: "space-0" }}
        class="pagination"
      >
        {
          previousProject && (
            <ProjectNavigationItem
              project={previousProject}
              class="col-12 tablet:col-6"
            />
          )
        }
        {
          nextProject && (
            <ProjectNavigationItem
              project={nextProject}
              class="col-12 tablet:col-6"
            />
          )
        }
      </Row>
    </Stack>
  </Center> -->
</BaseLayout>

<style define:vars={{ heroBackgroundColor }}>
  @import "@styles/04-utilities/breakpoints.css";

  .hero {
    --_border-radius: var(--rounded-2xl);
    --_offset-left: 20%;
    --_padding: var(--space-11-fixed);

    padding-block-start: calc(var(--_padding) + var(--header-height));
    padding-block-end: var(--_padding);

    background-color: var(--color-secondary);
    @media (--tablet-and-up) {
      --_padding: var(--space-13-fixed);
    }

    @media (--laptop-and-up) {
      --_border-radius: var(--rounded-3xl);
      --_padding: var(--space-11-fixed);
    }
  }

  .wrapper {
    position: relative;
  }

  .text-wrapper {
    & .shape {
      display: none;
    }

    @media (--tablet-and-up) {
      position: absolute;
      top: -3rem;

      /* min-height: 14.5rem; */

      & .shape {
        display: block;
      }

      & .shape.top {
        top: 0px;
        right: 0px;
        transform: translateY(calc(100% + 0.5rem)) translateX(100%)
          rotate(270deg);
        margin-block-start: -1px;
        margin-inline-end: 1px;
      }

      & .shape.bottom {
        bottom: 1px;
        left: -1px;
        transform: translateY(100%) rotate(270deg);
      }
    }

    @media (--laptop-and-up) {
      width: 100%;

      position: absolute;
      top: 6rem;

      & .shape.top {
        top: 2px;
        left: var(--_offset-left);
        margin-left: -1px;
        transform: translateY(-100%) rotate(180deg);
      }
      & .shape.bottom {
        bottom: 1px;
        left: var(--_offset-left);
        margin-left: -1px;
        transform: translateY(100%) rotate(270deg);
      }
    }
  }

  .hero-text {
    & .title {
    }
    @media (--tablet-and-up) {
      /* min-width: fit-content; */
      max-width: 26rem;
      padding-inline-end: var(--space-9-fixed);
      padding-block-end: var(--space-4-fixed);

      background-color: var(--color-secondary);

      border-bottom-right-radius: var(--_border-radius);
    }

    @media (--laptop-and-up) {
      /* TODO: adjust max width */

      max-width: 30.5rem;

      padding-inline-end: var(--space-4-fixed);
      padding-block: var(--space-7-fixed);

      border-top-right-radius: var(--_border-radius);
      border-bottom-right-radius: var(--_border-radius);

      /* transform: translateX(10%); */
    }
  }

  .img-wrapper {
    @media (--laptop-and-up) {
      padding-left: var(--_offset-left);
    }
  }

  .hero-img {
    --_height: 24rem;

    inline-size: 100%;
    block-size: var(--_height);
    background-color: var(--heroBackgroundColor);

    border-radius: var(--_border-radius);

    & > :global(picture) {
      height: 100%;
    }

    & > :global(picture),
    & > :global(picture) > :global(img) {
      object-fit: cover;
      inline-size: 100%;
      block-size: 100%;
      border-radius: var(--_border-radius);
    }

    &.collage > :global(picture),
    &.collage > :global(picture) > :global(img) {
      object-fit: contain;
      /* inline-size: 100%;
      block-size: 100%; */
      object-position: right 50%;
    }

    @media (--tablet-and-up) {
      --_height: 35rem;
    }

    @media (--laptop-and-up) {
      --_height: 40rem;
    }
  }

  .pagination {
    padding-block-end: var(--space-11-fixed);
  }
</style>
